@charset "UTF-8";

/**
 * Normalization ===========================================
 */
article, aside, dialog, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font: 100%/1.25em "Droid Sans","DejaVu Sans",Arial,sans-serif;
  color: #333;
  background: #F5FBF0;
  margin: 0;
}

h1 {
  font-size:  2.0em;
  line-height: 1.25;
  margin: 0 0 .3125em;
}

h2 {
  font-size:  1.5em;
  line-height: 1.25;
  margin: 0 0 .41666em;
}

h3 {
  font-size:  1.25em;
  line-height: 1.0;
  margin: 0 0 .5em;
}

label, button, input[type=submit],
input[type=image], .ui-clickable {
  cursor: pointer;
}

input[type=url], input[type=email],
input[type=phone], input[type=text],
input[type=password], select, textarea {
  padding: 0.084em;
  font: normal 1em/1.25em Helvetica,Arial,sans-serif;
  border: 0.084em solid #333;
  border-radius: .168em;
  background-color: white;
  color: #333;
  vertical-align: middle;
}

strong, b {
  font-weight: bold;
}

sub, sup {
  font-size: 0.84em;
  line-height: 0;
}


/**
 * Basic layout ============================================
 */
article {
  padding: .625em;
  background: -moz-linear-gradient(top, #fff, #F5FBF0 30px);
}

a {
  color: #409300;
  text-decoration: none;
}

a:visited {
  color: #326F00;
}

a:hover, a:focus {
  background-color: #FDFDFD;
  color: #62E200;
}

a:active {
  background-color: #62E200;
  color: #D3FFAF;
}

label {
  display: block;
  font-size: .8em;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
}

input[type="url"],
input[type="text"],
textarea {
  padding: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: normal 1em/1.25 "Droid Sans","DejaVu Sans",sans-serif;
  border: 0.084em solid #333;
  border-radius: 2px;
  background-color: white;
  color: #333;
  vertical-align: middle;
}

input[type="url"]:focus,
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 2px 2px rgba(98, 226, 0, .5);
  border-color: rgb(98,226,0);
}

textarea {
  resize: vertical;
}


/**
 * Navigation ==============================================
 */
nav {
  background: #1C1C1C;
  background: -moz-linear-gradient(top, #1C1C1C 33%, #333333);
  border-bottom: .0625em solid #000;
  padding: 0 .0625em;
}

nav:after {
  clear: both;
  content: "";
  display: block;
}

nav label {
  display: none;
}

nav p,
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  padding: 0;
  margin: 0 .0625em 0 0;
  background: -moz-linear-gradient(top, #444, #1c1c1c);
  border-radius: 2px 2px 0 0;
  line-height: 20px;
  position: relative;
  top: 1px;
}

nav li.search {
  padding: 6px 6px;
  height: 20px;
  font-size: .75em;
}

nav li.active {
  background: -moz-linear-gradient(top, #e6bd00, #e6bd00 2px, #fff 3px);
}

nav ul.level2 li {
  float: right;
}

nav li a {
  display: block;
  height: 20px;
  padding: 6px 6px 6px 24px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
  border-radius: 2px 2px 0 0;
  color: #E60042;
  text-shadow: 0 1px 0px black;
  outline: none;
  -moz-transition: background, text-shadow;
  -moz-transition-duration: .25s;
}

nav li a:visited {
  color: #E60042;
}

nav li.start a {
  background-image: url(icons/list.png);
}

nav li.save a {
  background-image: url(icons/bookmark.png);
}

nav li.import a {
  background-image: url(icons/import.png);
}

nav li.logout a {
  background-image: url(icons/logout.png);
}

nav li.login a {
  background-image: url(icons/login.png);
}

nav li.help a {
  background-image: url(icons/help.png);
}

nav li.active a,
nav li a:hover, nav li a:focus {
  background-color: #FDFDFD;
  text-shadow: 0 1px 0px rgba(0,0,0,.2);
}

nav li.active a {
  background-color: transparent;
}

nav li a:active {
  background-color: #E60042;
  text-shadow: 0 0 5px #f78;
  background-position: 8px -26px;
  color: #FFFFFF;
}

@media (max-width: 40.5em) {
  #global nav li a {
    padding-left: .375em;
    background-position: 999999px 999999px;
  }
}

@media (max-width: 26em) {
  #global nav li a {
    background-position: center 8px;
    text-indent: -9999px;
    width: 1.25em;
  }
}

nav li.search input[type="text"]:focus {
  box-shadow: none;
  border-color: #e60042;
}


/**
 * Messages ================================================
 */
#messages {
  margin: 0;
  padding: .625em;
  border-bottom: .0625em #666666 solid;
}

#messages li {
  list-style: none;
  background: #CFCFCF;
  color: black;
  padding: .625em;
  margin: 0 0 .0625em;
  -moz-border-radius: .125em;
  -webkit-border-radius: .125em;
  border-radius: .125em;
}

#messages li a {
  color: white;
}

#messages li.success {
  background: #62E200;
}

#messages li.info {
  background: #E6BD00;
}

#messages li.error {
  background: #E60042;
  color: white;
}


/**
 * Tag cloud ===============================================
 */
.tagcloud {
  list-style: none;
  margin: 0;
  padding: .625em;
  text-align: justify;
}
.tagcloud li {
  margin: 0;
  padding: 0;
  display: inline;
  line-height: 15px;
}
.tagcloud .t1 { font-size: .7em; opacity: .667; }
.tagcloud .t2 { font-size: .85em; }
.tagcloud .t3 { font-size: 1em; }
.tagcloud .t4 { font-size: 1.2em; }
.tagcloud .t5 { font-size: 1.5em; }
.tagcloud .t6 { font-size: 2.0em; }
.tagcloud li a {
  display: inline-block;
  padding-right: 0px;
  height: 15px;
}


/**
 * Pagination ==============================================
 */
.pag-info,
.paginate .first,
.paginate .last {
  display: none;
}
.paginate {
  text-align: center;
  margin-left: 5px;
}
.paginate li {
  list-style: none;
  display: inline;
  margin-right: 5px;
}
.paginate a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.paginate .prev a,
.paginate .next a,
.paginate .first a,
.paginate .last a {
  width: auto;
}
.paginate .active a {
  color: #333;
}


/**
 * Tag list for result filtering ===========================
 */
#tag-list {
  overflow: auto;
  margin: 0 0 .625em;
  padding: 0;
}

#tag-list li {
  list-style: none;
  margin-right: .625em;
  float: left;
  padding: 3px;
  background: #ddd;
  color: #222;
  text-shadow: 0 1px white;
  cursor: pointer;
  -moz-transition-duration: .25s;
}

#tag-list li:after {
  content: "\00A0\00D7";
  font-weight: bold;
  color: #999;
}

#tag-list li:hover {
  color: #ddd;
  background: #222;
  text-shadow: 0 1px black;
}


/**
 * Bookmark list ===========================================
 */
#bookmarks {
  border-top: .0625em #ddd solid;
  margin: 0;
  padding: 0;
}

#bookmarks li {
  border-bottom: .0625em #ddd solid;
  list-style: none;
  overflow: auto;
}

#bookmarks a.url {
  display: block;
  float: left;
  padding: 6px 3px;
}

#bookmarks .functions,
#bookmarks .tags {
  display: block;
  font-size: .75em;
}

#bookmarks .tags {
  float: right;
}

#bookmarks .functions a {
  padding: 3px 3px 3px 6px;
  color: #ccc;
  -moz-transition-duration: .25s;
}

#bookmarks li:hover .functions a {
  color: #222;
}

#bookmarks li .functions a:focus,
#bookmarks li .functions a:hover {
  background-color: #FDFDFD;
  color: #62E200;
}

#bookmarks .tags a {
  background: #ddd;
  color: #222;
  text-shadow: 0 1px white;
  padding: .25em;
  -moz-transition-duration: .25s;
}

#bookmarks .tags a:hover,
#bookmarks .tags a:focus {
  background: #222;
  color: #ddd;
  text-shadow: 0 1px black;
}


/**
 * Save form ===============================================
 */
#save_form input[type="url"],
#save_form input[type="text"],
#save_form textarea {
  width: 100%;
  max-width: 800px;
}
