@charset "UTF-8";

/**
 * Normalization ===========================================
 */
article, aside, dialog, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font: 100%/1.25em "Droid Sans","DejaVu Sans",Arial,sans-serif;
  color: #001902;
  background: #F9FFEE;
  margin: 0;
}

h1 {
  font-size:  2.0em;
  line-height: 1.25;
  margin: 0 0 .3125em;
}

h2 {
  font-size:  1.5em;
  line-height: 1.25;
  margin: 0 0 .41666em;
}

h3 {
  font-size:  1.25em;
  line-height: 1.0;
  margin: 0 0 .5em;
}

p {
  margin: 0 0 10px;
}

label, button, input[type=submit],
input[type=image], .ui-clickable {
  cursor: pointer;
}

input[type=url], input[type=email],
input[type=phone], input[type=text],
input[type=password], select, textarea {
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: normal 1em/1.25 "Droid Sans","DejaVu Sans",sans-serif;
  border: 0.084em solid #29352A;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  color: #001902;
  vertical-align: middle;
}

input[type=url]:focus,
input[type=email]:focus,
input[type=phone]:focus,
input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 2px 2px rgba(98, 226, 0, .5);
  border-color: #62E200;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
}

textarea {
  resize: vertical;
}

strong, b {
  font-weight: bold;
}

sub, sup {
  font-size: 0.84em;
  line-height: 0;
}


/**
 * Basic layout ============================================
 */
article {
  padding: 10px;
  background: -webkit-linear-gradient(top, #fff, #F9FFEE 30px);
  background: -moz-linear-gradient(top, #fff, #F9FFEE 30px);
  background: -ms-linear-gradient(top, #fff, #F9FFEE 30px);
  background: -o-linear-gradient(top, #fff, #F9FFEE 30px);
  background: linear-gradient(top, #fff, #F9FFEE 30px);
  max-width: 900px;
}

@media (min-width: 1200px) {
  article {
    position: relative;
  }
  article aside {
    position: absolute;
    top: 0;
    right: -270px;
    width: 260px;
    padding: 10px 0;
  }
}

a {
  color: #008008;
  text-decoration: none;
}

a:visited {
  color: #005F06;
}

a:hover, a:focus {
  color: #62E200;
}

a:active {
  background-color: #62E200;
  color: #ECFFC7;
}

label {
  display: block;
  font-size: .8em;
}

footer {
  border-top: 1px #ECFFC7 solid;
  padding: 10px 0;
  margin: 10px;
  font-size: 75%;
  clear: both;
  width: 900px;
}


/**
 * Navigation ==============================================
 */
nav {
  background: #001902;
  background: -webkit-linear-gradient(top, #001902 33%, #1A331B);
  background: -moz-linear-gradient(top, #001902 33%, #1A331B);
  background: -ms-linear-gradient(top, #001902 33%, #1A331B);
  background: -o-linear-gradient(top, #001902 33%, #1A331B);
  background: linear-gradient(top, #001902 33%, #1A331B);
  border-bottom: .0625em solid #000;
  padding: 0 .0625em;
}

nav:after {
  clear: both;
  content: "";
  display: block;
}

nav label {
  display: none;
}

nav p,
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  padding: 0;
  margin: 0 .0625em 0 0;
  background: -webkit-linear-gradient(top, #444, #333 50%, #000 50%, #001902);
  background: -moz-linear-gradient(top, #444, #333 50%, #000 50%, #001902);
  background: -ms-linear-gradient(top, #444, #333 50%, #000 50%, #001902);
  background: -o-linear-gradient(top, #444, #333 50%, #000 50%, #001902);
  background: linear-gradient(top, #444, #333 50%, #000 50%, #001902);
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  line-height: 20px;
  position: relative;
  top: 1px;
}

nav li.search {
  padding: 6px 6px;
  height: 20px;
  font-size: .75em;
}

nav li:hover {
  background: -webkit-linear-gradient(top, #444, #333 50%, #000 50%, #007F08);
  background: -moz-linear-gradient(top, #444, #333 50%, #000 50%, #007F08);
  background: -ms-linear-gradient(top, #444, #333 50%, #000 50%, #007F08);
  background: -o-linear-gradient(top, #444, #333 50%, #000 50%, #007F08);
  background: linear-gradient(top, #444, #333 50%, #000 50%, #007F08);
}

nav li.active {
  background: -webkit-linear-gradient(top, #e6bd00, #e6bd00 2px, #fff 3px);
  background: -moz-linear-gradient(top, #e6bd00, #e6bd00 2px, #fff 3px);
  background: -ms-linear-gradient(top, #e6bd00, #e6bd00 2px, #fff 3px);
  background: -o-linear-gradient(top, #e6bd00, #e6bd00 2px, #fff 3px);
  background: linear-gradient(top, #e6bd00, #e6bd00 2px, #fff 3px);
}

nav ul.level2 li {
  float: right;
}

nav li a {
  display: block;
  height: 20px;
  padding: 6px 6px 6px 24px;
  background-repeat: no-repeat;
  background-position: 8px 10px;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  color: #E60042;
  text-shadow: 0 1px 0px black;
  outline: none;
  -webkit-transition: background, text-shadow;
  -moz-transition: background, text-shadow;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
}

nav li a:visited {
  color: #E60042;
}

nav li.start a {
  background-image: url(icons/list.png);
}

nav li.save a {
  background-image: url(icons/bookmark.png);
}

nav li.import a {
  background-image: url(icons/import.png);
}

nav li.logout a {
  background-image: url(icons/logout.png);
}

nav li.login a {
  background-image: url(icons/login.png);
}

nav li.help a {
  background-image: url(icons/help.png);
}

nav li.active a,
nav li a:hover, nav li a:focus {
  text-shadow: 0 1px 0px rgba(0,0,0,.2);
}

nav li a:active {
  background-color: #E60042;
  text-shadow: 0 0 5px #f78;
  background-position: 8px -26px;
  color: #FFFFFF;
}

@media (max-width: 740px) {
  #global nav li a {
    padding-left: .375em;
    background-position: 999999px 999999px;
  }
}

@media (max-width: 630px) {
  #global nav li a {
    background-position: center 8px;
    text-indent: -9999px;
    width: 1.25em;
  }
}

@media (min-height: 40em) {
  nav {
    padding: 20px 1px 0;
    margin: 10px 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

nav li.search input[type="text"]:focus {
  box-shadow: none;
  border-color: #e60042;
}


/**
 * Messages ================================================
 */
#messages {
  margin: 0;
  padding: .625em;
  border-bottom: .0625em #ECFFC7 solid;
}

@media (min-height: 40em) {
  #messages {
    margin: 0 10px;
    padding: 10px 0;
  }
}

#messages li {
  list-style: none;
  background: #BAC89E;
  color: #001902;
  padding: .625em;
  margin: 0 0 .0625em;
  -webkit-border-radius: .125em;
  -moz-border-radius: .125em;
  border-radius: .125em;
}

#messages li a {
  color: white;
}

#messages li.success {
  background: #62E200;
}

#messages li.info {
  background: #E6BD00;
}

#messages li.error {
  background: #E60042;
  color: white;
}


/**
 * Tag cloud ===============================================
 */
.tagcloud {
  list-style: none;
  margin: 0;
  padding: .625em 0;
  text-align: justify;
}
.tagcloud li {
  margin: 0;
  padding: 0;
  display: inline;
  line-height: 15px;
}
.tagcloud .t1 { font-size: .7em; opacity: .667; }
.tagcloud .t2 { font-size: .85em; }
.tagcloud .t3 { font-size: 1em; }
.tagcloud .t4 { font-size: 1.2em; }
.tagcloud .t5 { font-size: 1.5em; }
.tagcloud .t6 { font-size: 2.0em; }
.unisized .t1, .unisized .t2, .unisized .t3,
.unisized .t4, .unisized .t5, .unisized .t6 {
  opacity: 1;
  font-size: 1.0em;
  font-weight: normal;
}
.tagcloud li a {
  display: inline-block;
  padding-right: 0px;
  height: 15px;
}


/**
 * Pagination ==============================================
 */
.pag-info,
.paginate .first,
.paginate .last {
  display: none;
}
.paginate {
  text-align: center;
  margin-left: 5px;
}
.paginate li {
  list-style: none;
  display: inline;
  margin-right: 5px;
}
.paginate a {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.paginate .prev a,
.paginate .next a,
.paginate .first a,
.paginate .last a {
  width: auto;
}
.paginate .active a {
  color: #001902;
}


/**
 * Tag list for result filtering ===========================
 */
#tag-list {
  margin: 0 0 .625em;
  padding: 0;
}

#tag-list:after {
  clear: left;
  content: "\00A0";
  display: block;
  height: 0;
}

#tag-list li {
  list-style: none;
  margin-right: .625em;
  float: left;
}

#tag-list li a {
  display: block;
  padding: 3px 6px;
  background: #ACC598;
  color: #29352A;
  text-shadow: 0 1px #ECFFC7;
  cursor: pointer;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
}

#tag-list li a:after {
  content: "\00A0\00D7";
  font-weight: bold;
  color: #001902;
}

#tag-list li a:focus,
#tag-list li a:hover {
  color: #ACC598;
  background: #29352A;
  text-shadow: 0 1px #001902;
}

#tag-list li a:focus:after,
#tag-list li a:hover:after {
  color: #ECFFC7;
}


/**
 * Bookmark list ===========================================
 */
#bookmarks {
  border-top: 1px #ECFFC7 solid;
  margin: 0;
  padding: 0;
}

#bookmarks li {
  border-bottom: 1px #ECFFC7 solid;
  list-style: none;
  overflow: auto;
}

#bookmarks .time {
  float:left;
  width: 60px;
  text-align: right;
  padding: 6px 6px 0 0;
  color: #6E7E62;
  font-size: .75em;
  white-space: nowrap;
}

#bookmarks a.url {
  display: block;
  float: left;
  padding: 6px 3px;
}

#bookmarks .functions,
#bookmarks .tags {
  display: block;
  font-size: .75em;
}

#bookmarks .tags {
  float: right;
  margin-bottom: 3px;
}

#bookmarks .functions {
  padding-top: 6px;
}

#bookmarks .functions a {
  padding: 3px 3px 3px 6px;
  color: #BAC89E;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
}

#bookmarks li:hover .functions a {
  color: #29352A;
}

#bookmarks li .functions a:focus,
#bookmarks li .functions a:hover {
  background-color: #ECFFC7;
  color: #62E200;
}

#bookmarks .tags a {
  background: #ACC598;
  color: #29352A;
  text-shadow: 0 1px #ECFFC7;
  padding: .25em;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
}

#bookmarks .tags a:hover,
#bookmarks .tags a:focus {
  background: #29352A;
  color: #ACC598;
  text-shadow: 0 1px #001902;
}

@media (max-width: 50em) {
  #bookmarks .time {
    display: none;
  }
}


/**
 * Save form ===============================================
 */
#save_form input[type="url"],
#save_form input[type="text"],
#save_form textarea {
  width: 100%;
  max-width: 800px;
}
